$blue:      #4e7ec2;
$gray-400:  #ced4da;
$gray-500:  #adb5bd;
$green:     #68B360;
$orange:    #eb743b;
$purple:    #ba478f;
$red:       #c64040;
$yellow:    #ffcd5c;

$primary:       $purple;
$info:          lighten($primary, 20%);

$font-family-sans-serif:    "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;

$headings-color:    $orange;

$link-color:        $purple;
$link-hover-color:  $orange;

$border-radius:     0;
$border-radius-lg:  0;
$border-radius-sm:  0;

$alert-border-radius:   0;
$alert-border-width:    0;

$breadcrumb-bg:             inerhit;
$breadcrumb-active-color:   $primary;

$btn-border-radius:         0;
$btn-border-radius-lg:      0;
$btn-border-radius-sm:      0;

$dropdown-border-color:     $orange;
$dropdown-border-width:     1px;
$dropdown-divider-bg:       $gray-400;
$dropdown-divider-margin-y: 0;
$dropdown-item-padding-x:   1rem;
$dropdown-item-padding-y:   0.5rem;
$dropdown-link-hover-bg:    lighten($orange, 30%);
$dropdown-padding-y:        0;

$modal-content-border-radius:   0;
$modal-header-border-width:     0;
$modal-footer-border-width:     0;

$nav-link-padding-y:    0.75rem;

$navbar-nav-link-padding-x:     1rem;

$pagination-disabled-color:     $gray-500;
