.breadcrumb-item.active span.active {
    font-weight: $font-weight-bold;
}

.modal-content {
    border-top: 0.25rem $orange solid;
}

.navbar-nav {
  .nav-link {
    @include hover-focus {
      background-color: $orange;
      color: $white;
    }
  }
}
