@import "colors.less";

// Variables
// --------------------------------------------------

@size: 4px;


// Buttons
// --------------------------------------------------

.btn {
  border:0px;
  border-radius: 1px;
  transition: all 0.2s;
  margin: -0.15em;
  color: #fff;
  background: @purple;
  padding: @size+10;
  margin: 5px;
  }



