// Overriding existing Bootstrap variables to customize the theme.

//== Colors
//Gray and brand colors for use across Bootstrap.

@orange:				#eb743b;
@purple:				#ba478f;
@green:					#5aa854;
@blue:					#4e7ec2;
@yellow:				#EA9D11;
@red:					#c64040;

@brand-primary:        @purple; 
@brand-secondary:      @orange;
@brand-success:        @green;
@brand-info:           @blue;
@brand-warning:        @yellow;
@brand-danger:         @red;


//== Buttons
//For each of Bootstrap's buttons, define text, background and border color.

@border-radius-base:        1px;
@border-radius-large:       1px;
@border-radius-small:       1px;


@btn-secondary-color:              #fff;
@btn-secondary-bg:                 @brand-secondary;
@btn-secondary-border:             darken(@btn-secondary-bg, 5%);



